<div>
    <h1>Run instance of other project(TestConsumeWebApi) project as well to test the functionality of API. </h1>
    <h3>WebApi containing two controllers with its CRUD operations:</h3>
    <ol>
        <li>PatientsController</li>
        <li>AppointmentController</li>
    </ol>
</div>

