@model TestConsumeWebApi.ApiDTO.Patient

@{
    ViewBag.Title = "GetPatient";
}
    <a href="/Patient" class="btn btn-primary">Go Back</a>
<h2>GetPatient</h2>

<form method="post">
    <div class="form-group">
        <label for="Id">Id</label>
        <input class="form-control" name="Id" required />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Get Patient</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Patient detail</h2>
    <table class="table table-bordered table-striped">
        <thead><tr><th>Id</th><th>First Name</th><th>Last Name</th> <th>Date of birth</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.DateOfBirth.Date</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h2>Enter valid patient id to get data!</h2>
}
